/* Basic Styling */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200&display=swap');
:root{
 --accent: #443DF6;
 --grey-text: #C3C3C3;
 --greyest-text: #D8D8D8;
 --normal-text: #606060;
}
body{
    font-family: "Nunito";
}
*{
    margin: 0;
    box-sizing: border-box;
}

/* End of Basic Styling */


/* Utilities  */

.wrapper{
    width: 80%;
    margin: 0 auto;
}

/* End of Utilities  */

.btn{
 border: none;
 background-color: grey;
 color: black;
 padding: .5em;
 margin: 1em 0;
}

.btn-small{
  width: 100px;
}

.btn-large{
    width: 200px;
}

/* Header Styles   */

/* End of  Header Styles */


/* Hero-section */

/* End of Hero-section Styles   */


/* End Card-section Styles  */

.card{

}
.card h3{

}
.card button{

}

.card-active h3{
    /* Active style for the heading text */
}
.card-active button{
     /* Active style for the button */
     color: white;
     background-color: var(--accent);
} 

/* End of Card-section Styles  */


   
/* Footer Styles  */

/* End of Footer Styles  */




/* Media Queries  */

@media(max-screen: 1000px){
    .wrapper{
        width:95%;
    }
}

/* End of Media Queries  */
