/* Basic Styling */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200&display=swap');
:root{
 --accent: #443DF6;
 --grey-text: #C3C3C3;
 --greyest-text: #D8D8D8;
 --normal-text: #606060;
}
body{
    font-family: "Nunito";
}
*{
    margin: 0;
    box-sizing: border-box;
}

/* End of Basic Styling */


/* Utilities  */

.wrapper{
    width: 80%;
    margin: 0 auto;
}

/* End of Utilities  */



/* Header Styles   */

/* End of  Header Styles */


/* Hero-section */
.radio-text{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.input-text{
    display: flex;
}
.input-text p{
    margin-left: 10px;
}
#radio-active{
    color: var(--accent);
}
/* End of Hero-section Styles   */


/* End Card-section Styles  */


/* End of Card-section Styles  */


   
/* Footer Styles  */

/* End of Footer Styles  */




/* Media Queries  */

@media(max-screen: 1000px){
    .wrapper{
        width:95%;
    }
}

/* End of Media Queries  */
